body {
   background-color: #101010;

}

.my-nav-theme {
    padding: 20px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    background-color: black !important;


}

.logoo {

    font-size: x-large;
    font-weight: bold;
}

.q-logo {
    color: #e6005c;
    font-size: x-large;
    font-weight: bold;
}

.wallet-btn {
    background-color: #e6005c;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.background-img {
    width: 100%;
    height: 650px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/wallpapersden.com_squid-game-worker-digital_3840x2160.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 150px;
    
   
}

.nft-main-txt {
    color: white;
    font-size: 60px;
    text-align: center;
font-weight: bold;

}


.nft-main-para {
    color: gray;
    text-align: center;
margin-top: 30px;
}

.bold-s {
    color: #e6005c;
}

.get-started-btn {
    background-color: #e6005c;
    color: white;
    padding: 10px;
    width: 250px;
    border-radius: 30px;
    margin-top: 30px;
    font-weight: bolder;
 
    
}

.sellers-hd{
    color: white;
    margin-top: 8px;
}
.my-box {
    height: auto;
    border: 4px solid #a30444;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.my-box:hover{
    border: 4px solid #e6005c;
}

.eth{
    color: #e6005c;
    font-weight: bold;
}
.collections-hd{
    color: white;
    margin-top: 100px;
}
.col-box{
    background-color: #303030;
    color: white;
}
.order-btn{
    background-color: #e6005c;
    color: white;
    padding: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bolder;
}
.order-btn:hover{
    background-color: #a30444;
}
.icn{
    margin-bottom: 10px;
    
}
.fa-share-from-square{
margin-right: 3px;    
}
.fa-share-from-square:hover{
    color: #a30444;
}
.fa-heart:hover{
    color: #a30444;
}

.my-footer{
    background-color: #101010 !important;
    color: white !important;
}

@media only screen and (max-width: 410px) {
    .nft-main-txt {
        color: white;
        font-size: 50px;
        text-align: center;
    font-weight: bold;
    
    }
    .bold-s {
        color: #e6005c;
    }
  }
  @media only screen and (max-width: 268px) {
    .nft-main-txt {
        color: white;
        font-size: 40px;
        text-align: center;
    font-weight: bold;
    
    }
    .bold-s {
        color: #e6005c;
    }
    .get-started-btn {
        background-color: #e6005c;
        color: white;
        padding: 10px;
        width: 100%;
        border-radius: 30px;
        margin-top: 30px;
        font-weight: bolder;
     
        
    }
    
  }